{% extends 'base.html' %}

{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'phonebook_app/css/style.css' %}" />
{% endblock %} 

{% block content %}

<h1>Tüm Kişiler</h1>
<ul>
  {% for person in persons %}
  <li>
    <div class="left">
      <img src="{{ person.image.url }}" class="image"/>
    </div>
    <div class="right">
      <div class="info">
        {{ person.first_name }} {{ person.last_name }} - {{ person.phone_number }}
      </div>
      <div class="buttons">
        <a href="{% url 'edit_person' person.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'delete_person' person.id %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
    
  </li>
  {% endfor %}
</ul>
{% endblock %}
