{% extends 'base.html' %} 

{% load static %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static 'phonebook_app/css/style.css' %}" />
{% endblock %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr>
      <td>
        <a class="list-group-item">{{ category.name }}</a></li>
      </td>
      <td><div class="buttons mt-3">
        <a href="{% url 'kategoriduzenle' category.id %}" class="btn btn-primary btn-sm">Edit</a>
        <a href="{% url 'kategorisil' category.id %}" class="btn btn-danger btn-sm">Delete</a>
      </div></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

