{% extends 'base.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'phonebook_app/css/style.css' %}">
{% endblock %}

{% block content %}
    <h3>Kişi Ekle</h3>
    <form action="{% url 'kisiekle' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mb-5">Ekle</button>
    </form>
{% endblock %}

{% block js_files %} 
    <script src="{% static 'phonebook_app/js/script.js' %}"></script>
{% endblock %}