.row{
    margin-top: 2rem;
}

ul{
    list-style-type: none;
    margin: 0;
    
}

ul>li{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.image{
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right .info{
    margin-bottom: 2rem;
}

.list-group{
    list-style-type: none;
}