.content{
    margin: 0 2rem;
}

.row{
    margin-top: 2rem;
}

ul{
    list-style-type: none;
    display: flex !important;
    align-items: center !important;
    
}

.image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right .info{
    margin-bottom: 2rem;
}

.list-group{
    list-style-type: none;
}

.list-group-item:first-child{
    margin: 0 !important;
}

.buttons{
    margin: 0 !important;
}